{% extends "admin/change_form.html" %}

{% block submit_buttons_top %}
    {{ block.super }}
    <div class="submit-row">
        <a class="button" href="#" onclick="confirmCustomAction('{{ recognize_strings }}')">Автоматически распознать строки</a>
    </div>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <a class="button" href="#" onclick="confirmCustomAction('{{ recognize_strings }}')">Автоматически распознать строки</a>
    </div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        function confirmCustomAction(url) {
            if (confirm("Выполнение данного действия приведёт к удалению текущих записей. Вы уверены?")) {
                window.location.href = url;
            }
        }
    </script>
{% endblock %}