{% extends "admin/change_form.html" %}
{% block object-tools-items %}
{{ block.super }}
    <li>
        <a href="{{ download_pdf_url }}" target="_blank" class="downloadlink">Скачать PDF</a>
    </li>
{% endblock %}
{% block submit_buttons_top %}
    {{ block.super }}
    <div class="submit-row">
        <a class="button" href="#" onclick="confirmCustomAction('{{ recognize_strings_url }}')">Автоматически распознать строки</a>
    </div>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <a class="button" href="#" onclick="confirmCustomAction('{{ recognize_strings_url }}')">Автоматически распознать строки</a>
    </div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        function confirmCustomAction(url) {
            if (confirm("Выполнение данного действия приведёт к удалению текущих записей. Вы уверены?")) {
                window.location.href = url;
            }
        }
    </script>
{% endblock %}