{% extends "admin/change_list.html" %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                var actionsWithConfirmation = {{ actions_with_confirmation|safe }};
                
                $('form').submit(function(e) {
                    var selectedAction = $('select[name="action"]').val();
                    if (actionsWithConfirmation.includes(selectedAction)) {
                        if (!confirm("Вы уверены, что хотите продолжить? Выполнение данного действия приведёт к потере текущих значений")) {
                            e.preventDefault();
                            $(this).find('select[name="action"]').val('');
                        }
                    }
                });
            });
        })(django.jQuery);
    </script>
{% endblock %}
