{% extends 'admin/change_form.html' %}
{% load static %}

{% block submit_buttons_top %}
    {{ block.super }}
    <div class="submit-row">
        <a class="button" href="#" onclick="confirmCustomAction('{{ recognize_text }}')">Автоматически распознать текст</a>
    </div>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <a class="button" href="#" onclick="confirmCustomAction('{{ recognize_text }}')">Автоматически распознать текст</a>
    </div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        function confirmCustomAction(url) {
            if (confirm("Выполнение данного действия приведёт к удалению текущего текста. Вы уверены?")) {
                window.location.href = url;
            }
        }
    </script>
{% endblock %}

{% block after_field_sets %}
{% if image_tag %}
<div style="margin-top: 20px; width: 100%;">
    {{ image_tag|safe }}
</div>
{% endif %}
{% endblock %}
